version: "3.8"

services:
  frontend:
    build: ./frontend
    image: mui-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    image: mui-backend:latest
    ports:
      - "3000:3000"
